<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>authentication</title>

  </head>

  <body>

    <center><h3>!!! Welcome To Our Authentication Page !!!</h3></center>
   
    <center><button type="submit"><a href=login>SingIn</a></button>
    <button type="submit"><a href=signup>SignUp</a></button>
    <button type="submit"><a href=forget-password>Forget Password</a></button>
    </center>
     


  </body>
